*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cursive;
}
body{
    background: url(/design/img/Design\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}
header{
    margin-top: 30px;
}
.first{
    display: flex;
}
.first .one {
    display: flex;
    justify-content: flex-end;
    flex-grow: 0.7;

}
.first .one ul{
    display: flex;

}
.first .one ul li{
    list-style: none;
    margin-right: 35px;
}
.first .one ul li a{
    text-decoration: none;
    color: white;
    
}
.first .one ul li a:hover{
    color: blue;
    text-decoration: underline;
    text-shadow: 10px;
}
footer{
    padding: 0 20px;
    position: fixed;
    bottom: 0;
    width: 100vw;
    text-align: center;
    color: white;
}
.second{
    text-align: center;
    margin-top: 180px;
}
h1{
    margin: 20px;
    color: white;
    font-size: 40px;
    font-weight: 900;
    font-style: italic;
}
p{
    margin: 10px;
    color: white;
}
button{
    margin: 15px;
    padding: 10px 30px;
    border-radius: 25px;
    background: white;
}
button:hover{
    background: blue;
    color: white;
    text-transform: capitalize;
}